<!DOCTYPE html>
<html>
<head>
    <title>POST Form</title>
</head>
<body>
    <form method="POST" action="/">
        <label for="alt">Alt:</label>
        <input type="text" name="alt" id="alt"><br><br>
        <label for="bar">Bar:</label>
        <input type="text" name="bar" id="bar"><br><br>
        <label for="fri">Friday:</la>
        <input type="text" name="fri" id="fri"><br><br>
        <label for="hun">Hun:</label>
        <input type="text" name="hun" id="hun"><br><br>
        <label for="pat">Pat:</label>
        <input type="text" name="pat" id="pat"><br><br>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price"><br><br>
        <label for="rain">Rain:</label>
        <input type="text" name="rain" id="rain"><br><br>
        <label for="res">Reservation:</label>
        <input type="text" name="res" id="res"><br><br>
        <label for="type">Type:</label>
        <input type="text" name="type" id="type"><br><br>
        <label for="est">Est:</label>
        <input type="text" name="est" id="est"><br><br>
        <input type="submit" value="Submit">

    </form>

</body>
</html>