<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decision Tree</title>
</head>
<body>
  <div style='background-color: bisque;'>
    <center>
      <h1>Hola el clase es <b style='color: cadetblue;'>{{ cn }}</b> </h1><br /><br />

    </center>
  </div>
 <div style='background-color: bisque;'>
  <center>
 <h1>the distion tree is look like  </h1><br /><br />
  <img src="/static/data.png" alt="Decision tree">
  </center>
 </div>
 
</body>
</html>


