<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decision Tree</title>
</head>
<body>
  <div style='background-color: rgb(209, 251, 246); padding: 1%;'>
    <center>
      <h1>Will you wait? - <b style='color: rgb(67, 117, 119);'>{{ cn }}</b> </h1><br /><br />
    </center>
  </div>
 <div style='background-color: rgb(209, 251, 246); padding: 1%;'>
  <center>
 <h1>The Decision Tree </h1><br /><br />
  <img src="/static/data.png" alt="Decision tree">
  </center>
 </div>
 
</body>
</html>


