<!DOCTYPE html>
<html>
  <head>
    <title>User Input</title>
  </head>
  <body>
    <form method="POST" action="{{ url_for('user_input')}}">
      <div>
        <center>
          <h1>Restaurant Decision Tree</h1>
          <h2>Input your preferences</h2>
        </center>
      </div>
      <div style= 'align-items: flex-end;  background-color: bisque;'>
        <center>

           <label for="alt"><b>Alternate:</b></label>
      <label for="alt">Select an option:</label>
      <select id="alt" name="alt">
      <option value= "1">Yes</option>
      <option value="0">No</option>
      </select><br /><br />

      <label for="bar"><b>Bar:</b></label>
      <label for="bar">Select an option:</label>
      <select id="bar" name="bar">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select><br /><br />

      <label for="fri"><b>Friday and Saturday:</b></label>
      <label for="fri">Select an option:</label>
      <select id="fri" name="fri">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select><br /><br />

      <label for="hun"><b>Hungry:</b></label>
      <label for="hun">Select an option:</label>
      <select id="hun" name="hun">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select><br /><br />

      
      <label for="pat"><b>Patrons:</b></label>
      <label for="Pat">Select an option:</label>
      <select id="pat" name="pat">
      <option value="0">Full</option>
      <option value="1">None</option>
      <option value="2">Some</option>
      </select><br /><br />

      <label for="price"><b>Price:</b></label>
     <label for="price">Select an option:</label>
      <select id="price" name="price">
      <option value="0">$</option>
      <option value="1">$$</option>
      <option value="2">$$$</option>
      </select><br /><br />

      <label for="rain"><b>Rain:</b></label>
      <label for="rain">Select an option:</label>
      <select id="rain" name="rain">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select><br /><br />

      <label for="res"><b>Reservation:</b></label>
      <label for="res">Select an option:</label>
      <select id="res" name="res">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select><br /><br />

      <label for="type"><b>Type:</b></label>
      <label for="type">Select an option:</label>
      <select id="type" name="type">
      <option value="0">burger</option>
      <option value="1">French</option>
      <option value="2">Italian</option>
      <option value="3">Thai</option>
      </select><br /><br />

      <label for="est"><b>Estimation waiting time </b></label>
      <label for="est">Select an option:</label>
      <select id="est" name="est">
      <option value="0">0-10 min</option>
      <option value="1">10-30 min</option>
      <option value="2">30-60 min</option>
      <option value="3">More than 60 min</option>
      </select><br /><br />

      <input type="submit" value="Submit" /><br /><br />
        </center>
      </div>
     
    </form>
  </body>
</html>
